#container-full {
	min-width: 800px;
	margin-left: 75px;
	display: table;
	border: 3px solid blue;
	height: 5000px;
	width: 800px;
}

#display-row {
	min-width: 800px;
	display: table-row;
}

#cardListAndModal {
	display: table-cell;
	position: relative;
	float: right;
	/*border: 3px solid red;*/
}

#sidebar{

	position: fixed;
	border-radius: 7px;
	border: 3px solid #89979C;

	background-color: #C1D5DB;
	/*vertical-align: top;*/
	height: 300px;
	width: 170;
	display: table-cell;
	/*position: relative;*/
	/*border: 3px solid red;*/
	/*max-width: 10%;
	min-width: 142px;*/
}

#cardListContainer {
/*	border: 3px solid red;*/

	width: 648px;
	max-width: 648px;
	overflow: auto;
}

#cardList {
	list-style-type: none;

}

#cardListElement{
	list-style-type: none;
	/*border: 3px solid red;*/
}

#cardContainer {
	border-radius: 7px;
	margin-bottom: 20px;

	border: 3px solid #89979C;
	background-color: #C1D5DB;
	height: 250px;
	/*height: 30%;*/

}

#cardImageContainer {
	/*border: 3px solid red;*/
	margin-left: 5px;
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#cardInfoContainer {
	/*border: 3px solid blue;*/
	margin-right: 50px;
	/*width: 50%;*/
	max-width: 50%;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#cardImage {
	width: 200px;
	height: auto;
}

#cardInfoList {
	margin-right: 30px;
	/*border: 3px solid red;*/
	float: left;
	list-style-type: none;
	font-family: 'Helvetica', 'Arial', sans-serif;
	width: 300px;
}

#infoListElement {
	/*border: 3px solid blue;*/
	font-size: .85em;
	color: #183C7A;
	padding: 2%;
}

#cardDetailsButton{
	background-color: #183C7A;
	color: white;
	text-align: center;
  	text-decoration: none;
  	border: none;
  	border-radius: 15px;
  	font-size: 1em;
}

#modalWindow {
	border-radius: 7px;

	background-color: #DDE9ED;
	border: 3px solid blue;
	display: none; /*none Hidden by default */
    position: fixed; /* Stay in place */
    /*margin: auto;*/
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20px;

    z-index: 1; /* Sit on top */
    width: 60%;
}

#modalImageAndApply {
	border: 3px solid blue;
	height: 250px;
}

#modalImageDiv {
	border: 3px solid green;

	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 30px;
	/*width: 50%;*/
}

#modalApplyDiv{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border: 3px solid red;
	float: right;
	width: 40%;
}

#modalApplyButton {
	background-color: #F2ED50;
	color: white;
	text-align: center;
  	text-decoration: none;
  	border: none;
  	border-radius: 1px;
  	font-size: 2em;
  	font-family: 'Arial Black', 'Arial', sans-serif;
}

#modalInfoDiv {
	color: #183C7A;
}

#modalCloseX {
	/*border: 3px solid white;*/

	font-family: 'Arial Black', 'Arial', sans-serif;
	float: right;
	font-size: 2em;
	font-weight: bold;
	float: right;
	color: white;
	margin-right: 15px;
}

#modalCloseX:hover,
#modalCloseX:focus {
    color: #afafaf;
    text-decoration: none;
    cursor: pointer;
}

#content{


}



/*aside {
  float: left;
  position: relative;

}*/

main {
  //flex: 7;
}

/* Form styling */

/*aside {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

aside div {
  margin-bottom: 20px;
}
*/