#container-full {
	display: table;
	border: 3px solid blue;
	height: 5000px;
}

#display-row {
	display: table-row;
}

#cardListAndModal {
	display: table-cell;
	position: relative;
	float: right;
	/*border: 3px solid red;*/
}

#sidebar{
	vertical-align: top;
	display: table-cell;
	position: relative;
	border: 3px solid red;
	max-width: 10%;
	min-width: 142px;
}

#cardListContainer {
/*	border: 3px solid red;*/

	width: 648px;
	max-width: 648px;
	overflow: auto;
}

#cardList {
	list-style-type: none;

}

#cardListElement{
	list-style-type: none;
	/*border: 3px solid red;*/
}

#cardContainer {
	border-radius: 7px;
	margin-bottom: 20px;

	border: 3px solid #89979C;
	background-color: #C1D5DB;
	height: 250px;
	/*height: 30%;*/

}

#cardImageContainer {
	/*border: 3px solid red;*/
	margin-left: 5px;
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#cardInfoContainer {
	/*border: 3px solid blue;*/
	margin-right: 50px;
	/*width: 50%;*/
	max-width: 50%;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#cardImage {
	width: 200px;
	height: auto;
}

#cardInfoList {
	margin-right: 30px;
	/*border: 3px solid red;*/
	float: left;
	list-style-type: none;
	font-family: 'Helvetica', 'Arial', sans-serif;
	width: 300px;
}

#infoListElement {
	/*border: 3px solid blue;*/
	font-size: .85em;
	color: #183C7A;
	padding: 2%;
}

#cardDetailsButton{
	background-color: #183C7A;
	color: white;
	text-align: center;
  	text-decoration: none;
  	border: none;
  	border-radius: 15px;
  	font-size: 1em;
}

#modalWindow {
	background-color: #DDE9ED;
	border: 3px solid blue;
	display: block; /*none Hidden by default */
    position: fixed; /* Stay in place */
    margin: auto;
    z-index: 1; /* Sit on top */
    width: 50%;
}

#modalImageDiv {
	float: left;
	width: 40%;
}

#modalApplyDiv{
	float: right;
	width: 40%;
}

#modalInfoDiv {
	
}

#content{


}



/*aside {
  float: left;
  position: relative;

}*/

main {
  //flex: 7;
}

/* Form styling */

/*aside {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

aside div {
  margin-bottom: 20px;
}
*/